
*.java~
*.class
*.lst
my-app/target/my-app-1.0-SNAPSHOT.jar
my-app/target/surefire-reports/com.mycompany.app.AppTest.txt
my-app/target/surefire-reports/com.mycompany.app.TableTest.txt
my-app/target/surefire-reports/TEST-com.mycompany.app.AppTest.xml
my-app/target/surefire-reports/TEST-com.mycompany.app.TableTest.xml
*.xml~
*.marks
*.md~
*.jar
*.txt~
my-app/target/surefire-reports/TEST-com.mycompany.app.GroupTest.xml
my-app/target/surefire-reports/com.mycompany.app.GroupTest.txt
